<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem name="Formation" id="formation_base_menu"/>
    <menuitem name="Trainee" id="trainee_menu" parent="formation_base_menu" action="action_all_trainee"/>
    <menuitem name="Goal" id="goal_menu" parent="formation_base_menu" action="goal_action"/>

    <!-- settings -->
    <menuitem name="Settings" id="formation_settings_menu" parent="formation_base_menu"/>

    <!-- PER menu-->
    <menuitem name="Base" id="base_menu" parent="formation_base_menu"/>
    <menuitem name="Subject" id="subject_menu" parent="base_menu" action="subject_action"/>
    <menuitem name="Formation" id="formation_menu" parent="base_menu" action="formation_action"/>
    <menuitem name="Note Template" id="goal_note_template_menu" parent="base_menu" action="goal_note_template_action"/>

</odoo>
